###OSX###

.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

#typescript
#file watcher:
#--out $ProjectFileDir$/compiled/$FileDirRelativeToProjectRoot$/$FileNameWithoutExtension$.js --sourcemap $FileName$
compiled
typings

# Floobits
.floo
.floobit
.floo
.flooignore

# webstorm
.idea
